html {
  font-size: 16px; }

html,
body {
  height: 100%;
  width: 100%; }

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', 'Tahoma' sans-serif;
  background: #ffffff; }

*::selection {
  color: #ffffff;
  background-color: #ff5733; }

main,
header,
footer,
section,
article,
div,
form,
p,
ul,
ol,
li {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.site-header {
  padding: 1rem 2rem;
  color: #ffffff;
  background: #707070; }
  .site-header a + a {
    margin-left: 1.5rem; }

.site-nav {
  text-align: center;
  flex-grow: 2;
  text-transform: uppercase; }

.main-logo {
  height: 70px;
  width: 70px; }

.functional-buttons {
  align-self: flex-start; }

/*------------------------------------*    main
\*------------------------------------*/
section {
  background: darkcyan; }

footer {
  color: #ffffff;
  background: #707070; }
