.site-aside {
  min-width: 300px;
  text-align: center;
  border-right: 2px solid $color-silver;
  section:not(:first-of-type) {
    margin-bottom: 1.5rem;
  }
}
.aside-logo {
  border-radius: 50%;
  overflow: hidden;
  height: 200px;
  width:  200px;
  margin: 2rem auto;
  background-image: url(../images/grumpy-ava.jpg);
  background-size: cover;
  border: 2px solid $color-silver;
  filter: grayscale(100%);
  &:hover {
    filter: grayscale(0);
  }
}
.aside-personal {

}
.aside-section-heading {
  width: 100%;
  border-bottom: 2px solid $color-silver;
  margin-bottom: 0.8rem;
}
.aside-content {
  padding: 0 1rem;
}
