.cv-content {
  padding: 2rem;
  padding-right: 0;
  width: 100%;
  background-color: $color-white;
  section {
    margin-bottom: 2rem;
  }
}
// Content Icon's START
.icon__about {
  background-image: url(../images/content/user.svg);
}
.icon__skills {
  background-image: url(../images/content/code.svg);
}
.icon__work {
  background-image: url(../images/content/work.svg);
}
.icon__edu {
  background-image: url(../images/content/diploma.svg);
}
.icon__portfolio {
  background-image: url(../images/content/portfolio.svg);
}
.icon__interests {
  background-image: url(../images/content/idea.svg);
}
// Content Icon's FINISH
.cv-content-sections {
  padding-right: 2rem;
}
.cv-content-section-heading {
  margin-bottom: 1rem;
  padding: 1rem;
  border-bottom: 2px solid $color-silver;
  & * {
    display: inline-block;
    vertical-align: middle;
  }
  &:hover span.filter__gray {
    filter: grayscale(0);
  }
  h3 {
    margin-left: 0.7rem;
  }
}
.cv-content-portfolio {
  .portfolio-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li {
      margin: 0.5rem;
      height: 150px;
      width: 150px;
      background: url(../images/gap.jpg) no-repeat;
      background-size: contain;
      border: 2px solid $color-silver;
      &:hover {
        filter: grayscale(0);
      }
    }
  }

}
.cv-content-section-content {
  padding-left: 2rem;
  ul {
    margin-bottom: 1rem;
  }
}
.interests-list {
  display: flex;
  justify-content: space-around;
  li {
    img {
      &:hover {
        filter: grayscale(0);
      }
    }
  }
}
