// COLORS
$color-white: #ffffff;
$color-darkgrey: #acb1bf;
$color-whitesmoke: #f0f0f0;
$color-silver: #d7d9e0;
$color-dimgrey: #525e6a;
$color-darkslategray: #394551;
$color-tomato: #f55949;
$color-orange: #f5a61d;
$color-steelblue: #4682b4;
$color-deepskyblue: #6cb6f5;
$color-cornflowerblue: #6495ed;
$color-skyblue: #87ceeb;
$color-lightskyblue: #87cefa;
$color-lightsteelblue: #b0c4de;
$color-darkslategrey: #0e4d6c;
