html {
  font-size: 16px;
  line-height: 1.5;
}
html,
body {
  height: 100%;
  width:  100%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: $color-darkslategray;
  background-color: $color-whitesmoke;
}
*::selection {
  color: $color-white;
  background-color: $color-tomato;
}
.main-column {
  display: flex;
  flex: 1 0 auto;
}
.site-header,
.site-footer {
  flex: 0 0 auto;
}
.filter__gray {
  filter: grayscale(100%);
}
// Container START
.container {
  padding: 1rem 10%;
}
// Container FINISH
h2,
h3 {
  letter-spacing: 3px;
}
.btn {
  border-radius: 3px;
  border: 1px solid $color-whitesmoke;
  background-color: $color-darkslategray;
  color: $color-white;
  padding: 0.5rem 0.8rem;
}
.transition {
  transition: all 0.8s;
}
// ICONs start
.icon {

}
.icon__bg {
  background-repeat: no-repeat;
  background-position: center center;
}
.icon__sm {
  height: 16px;
  width:  16px;
}
.icon__md {
  height: 32px;
  width:  32px;
}
.icon__lg {
  height: 48px;
  width:  48px;
}
// ICONs finish
