main,
aside,
header,
footer,
section,
article,
div,
form,
p,
ul,
ol,
li,
label {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main.container {
  padding-top: 0;
  padding-bottom: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
  color: $color-darkslategrey;
  &:hover, &:active, &:focus {
    color: $color-orange;
  }
  &:visited {
    color: $color-darkslategrey;
  }
}
h1,
h2,
h3 {
  margin: 0;
  text-transform: uppercase;
}
