@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,700&subset=latin,cyrillic);

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    background: #F1F1F1;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main-container,footer,header {
    position: relative;
    margin: 8px;
}
    
header {
    height: 80px;
    background: white;
    box-shadow: 2px 2px 2px #888888;
}

.content {
    margin-bottom: 8px;
    margin-left: 308px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: justify;
    padding: 20px;
    height: 100%;
    background: white;
    box-shadow: 2px 2px 2px #888888;
}
.left-cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    margin-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: justify;
    padding: 20px;
    height: 100%;
    background: white;
    box-shadow: 2px 2px 2px #888888;
}

footer {
    padding: 20px;
    left: 0;
    bottom: 0;
    background: white;
    box-shadow: 2px 2px 2px #888888;
}

.nav {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
}
    
.nav > li,
.nav > li > a {
    display: block;
    *display: block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    zoom 1; 
}
.nav > li > a:hover{
    color: #FFDD00;
}
    
    
.inline-nav {
    margin-top: 0;
}

.inline-nav li {
    margin-left: 0;
    border-left: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

.inline-nav li:first-child {
    margin-left: 0;
    border: none;
    padding-left: 0;
    padding-right: 10px;
}

.inline-nav li:last-child {
    margin-right: 0;
}

/* MEDIA STARTS HERE */
@media screen and (min-width: 760px) {
}

.title {
    text-align: center;
    line-height: 80px;
    text-transform: uppercase;
}
   
h2 {  /* LINES IN TEXT START */
  overflow: hidden;
  position: relative;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

h2:before,
h2:after {
  content: '';
  display: inline-block;
  position: relative;
  top: -1px;
  width: 50%;
  height: 1px;
  vertical-align: middle;
  background: black;
}
h2:before {
  left: -10px;
  margin-left: -50%;
}
h2:after {
  left: 10px;
  margin-right: -50%;
}  /* LINES IN TEXT FINISH */

.myphoto {
    float: right;
    margin: 0 0 10px 10px;
}
