aside.site-aside
  section.aside-logo.animate

  section.aside-personal
    div.aside-section-heading
      h3 Personal
      span.separate-line
    div.aside-content
      ul
        li Lorem ipsum dolor sit amet
        li Consectetur adipisicing elit
        li Sed do eiusmod tempor incididunt
        li Ut labore et dolore magna aliqua
        li Ut enim ad minim veniam

  section.aside-links
    div.aside-section-heading
      h3 Links
      span.separate-line
    div.aside-content
      ul
        li Lorem ipsum dolor sit amet
        li Consectetur adipisicing elit
        li Sed do eiusmod tempor incididunt
        li Ut labore et dolore magna aliqua
        li Ut enim ad minim veniam
