aside.site-aside
  section.aside-logo.filter__gray.transition

  section.aside-personal
    div.aside-section-heading
      h3 About
      span.separate-line
    div.aside-content
      ul
        li Name: Dmytro Slipchenko
        li Location: 
          a(href='https://goo.gl/maps/sdsXCCkPH1U2') Smila, Ukraine
        li Phone: 
          a(href='tel:555-555-5555') 555-555-5555
        li E-mail: 
          a(href='mailto:slipchenko.dmytro@gmail.com') slipchenko.dmytro
            i.fa.fa-envelope-o(aria-hidden='true')
        li Skype: 
          a(href='#') skype
            i.fa.fa-skype(aria-hidden='true')

  section.aside-links
    div.aside-section-heading
      h3 Links
      span.separate-line
    div.aside-content
      ul
        li
          a(href='https://www.facebook.com/slipdem/') Facebook
            i.fa.fa-facebook(aria-hidden='true')
        li
          a(href='https://twitter.com/slipdem') Twitter
            i.fa.fa-twitter(aria-hidden='true')
        li
          a(href='https://www.instagram.com/slipdem/') Instagram
            i.fa.fa-instagram(aria-hidden='true')
        li
          a(href='https://github.com/slipdem') GitHub
            i.fa.fa-github(aria-hidden='true')
        li
          a(href='http://linkedin.net') LinkedIn
            i.fa.fa-linkedin(aria-hidden='true')
