div.cv-content
  section.cv-content-about.cv-content-sections
    header.cv-content-section-heading
      span.icon__about.icon__bg.icon__md.filter__gray.transition
      h3 Message
    div.cv-content-section-content
      ul
        li
          | I am an outgoing and energetic (ask anybody) young professional, seeking a career that fits my professional skills, personality, and murderous tendencies. My squid-like head is a masterful problem solver and inspires fear in who gaze upon it. I can bring world domination to your organization.
        li Sincerely yours, Cthulhu.

  section.cv-content-skills.cv-content-sections
    header.cv-content-section-heading
      span.icon__skills.icon__bg.icon__md.filter__gray.transition
      h3 Skills
    div.cv-content-section-content
      ul
        li HTML, Pug
        li CSS, SASS
        li JavaScript
        li Adobe Photoshop and Illustrator, Sketch
        li Gulp, Bootstrap, Git and more...

  section.cv-content-work-exp.cv-content-sections
    header.cv-content-section-heading
      span.icon__work.icon__bg.icon__md.filter__gray.transition
      h3 Work Experience
    div.cv-content-section-content
      ul
        li
          | The mind can go either direction under stress-toward positive or toward negative: on or off. Think of it as a spectrum whose extremes are unconsciousness at the negative end and hyperconsciousness at the positive end. The way the mind will lean under stress is strongly influenced by training.
        li Frank Herbert, Dune 

  section.cv-content-education.cv-content-sections
    header.cv-content-section-heading
      span.icon__edu.icon__bg.icon__md.filter__gray.transition
      h3 Education
    div.cv-content-section-content
      ul
        li Software engineering for automated systems
        li Cherkasy State Technological University 
        li Cherkasy, Ukraine
        li 2004-2006
      ul
        li Developing and programming of the automated systems
        li Smila Technical Secondary School of Food Technologies NUFT
        li Smila, Cherkasy region, Ukraine
        li 2000-2004

  section.cv-content-portfolio.cv-content-sections
    header.cv-content-section-heading
      span.icon__portfolio.icon__bg.icon__md.filter__gray.transition
      h3 Portfolio
    div.cv-content-section-content
      ul.portfolio-grid
        li.filter__gray.transition
        li.filter__gray.transition
        li.filter__gray.transition
        li.filter__gray.transition
        li.filter__gray.transition
        li.filter__gray.transition

  section.cv-content-interests.cv-content-sections
    header.cv-content-section-heading
      span.icon__interests.icon__bg.icon__md.filter__gray.transition
      h3 Interests
    div.cv-content-section-content
      ul.interests-list
        li
          img(src='/images/interests/camera.svg' alt='Photography').icon__bg.icon__lg.filter__gray.transition
        li
          img(src='/images/interests/books.svg' alt='Reading').icon__bg.icon__lg.filter__gray.transition
        li
          img(src='/images/interests/music.svg' alt='Music').icon__bg.icon__lg.filter__gray.transition
        li
          img(src='/images/interests/cooking.svg' alt='cooking').icon__bg.icon__lg.filter__gray.transition
        li
          img(src='/images/interests/ski.svg' alt='Ski').icon__bg.icon__lg.filter__gray.transition
        li
          img(src='/images/interests/basketball.svg' alt='Basketball').icon__bg.icon__lg.filter__gray.transition
