article.cv-content
  section.cv-content-about
    header.cv-content-section-heading
      i.fa.fa-2x.fa-user-circle-o(aria-hidden='true')
      h3 About me
    div.cv-content-section-content
      ul
        li
          | The tardigrade's ability to use photons could reduce these water-dwelling critters.
        li Heat, to use photons could engineer interactions between photons together so.
        li Tardigrade-Inspired fly at the dawn of an unusual mix of photons.
        li In newly discovered extinct human performed ritual burials of.
        li Possessed stay in a team including theoretical physicists from.

  section.cv-content-skills
    header.cv-content-section-heading
      i.fa.fa-2x.fa-cogs(aria-hidden='true')
      h3 Skills
    div.cv-content-section-content
      ul
        li
          | The tardigrade's ability to use photons could reduce these water-dwelling critters.
        li Heat, to use photons could engineer interactions between photons together so.
        li Tardigrade-Inspired fly at the dawn of an unusual mix of photons.
        li In newly discovered extinct human performed ritual burials of.
        li Possessed stay in a team including theoretical physicists from.

  section.cv-content-work-exp
    header.cv-content-section-heading
      i.fa.fa-2x.fa-briefcase(aria-hidden='true')
      h3 Work Experience
    div.cv-content-section-content
      ul
        li
          | The tardigrade's ability to use photons could reduce these water-dwelling critters.
        li Heat, to use photons could engineer interactions between photons together so.
        li Tardigrade-Inspired fly at the dawn of an unusual mix of photons.
        li In newly discovered extinct human performed ritual burials of.
        li Possessed stay in a team including theoretical physicists from.

  section.cv-content-education
    header.cv-content-section-heading
      i.fa.fa-2x.fa-graduation-cap(aria-hidden='true')
      h3 Education
    div.cv-content-section-content
      ul
        li
          | The tardigrade's ability to use photons could reduce these water-dwelling critters.
        li Heat, to use photons could engineer interactions between photons together so.
        li Tardigrade-Inspired fly at the dawn of an unusual mix of photons.
        li In newly discovered extinct human performed ritual burials of.
        li Possessed stay in a team including theoretical physicists from.

  section.cv-content-portfolio
    header.cv-content-section-heading
      i.fa.fa-2x.fa-picture-o(aria-hidden='true')
      h3 Portfolio
    div.cv-content-section-content
      ul
        li
          | The tardigrade's ability to use photons could reduce these water-dwelling critters.
        li Heat, to use photons could engineer interactions between photons together so.
        li Tardigrade-Inspired fly at the dawn of an unusual mix of photons.
        li In newly discovered extinct human performed ritual burials of.
        li Possessed stay in a team including theoretical physicists from.

  section.cv-content-interests
    header.cv-content-section-heading
      i.fa.fa-2x.fa-meh-o(aria-hidden='true')
      h3 Interests
    div.cv-content-section-content
      ul
        li
          | The tardigrade's ability to use photons could reduce these water-dwelling critters.
        li Heat, to use photons could engineer interactions between photons together so.
        li Tardigrade-Inspired fly at the dawn of an unusual mix of photons.
        li In newly discovered extinct human performed ritual burials of.
        li Possessed stay in a team including theoretical physicists from.
