article.cv-content
  section.cv-content-about.cv-content-sections
    header.cv-content-section-heading
      i.fa.fa-2x.fa-user-circle-o(aria-hidden='true')
      h3 About me
    div.cv-content-section-content
      ul
        li
          | I am an outgoing and energetic (ask anybody) young professional, seeking a career that fits my professional skills, personality, and murderous tendencies. My squid-like head is a masterful problem solver and inspires fear in who gaze upon it. I can bring world domination to your organization.
        li Sincerely yours, Cthulhu.

  section.cv-content-skills.cv-content-sections
    header.cv-content-section-heading
      i.fa.fa-2x.fa-cogs(aria-hidden='true')
      h3 Skills
    div.cv-content-section-content
      ul
        li HTML, Pug
        li CSS, SASS
        li JavaScript
        li Adobe Photoshop and Illustrator, Sketch
        li Gulp, Bootstrap, Git and more...

  section.cv-content-work-exp.cv-content-sections
    header.cv-content-section-heading
      i.fa.fa-2x.fa-briefcase(aria-hidden='true')
      h3 Work Experience
    div.cv-content-section-content
      ul
        li
          | The mind can go either direction under stress-toward positive or toward negative: on or off. Think of it as a spectrum whose extremes are unconsciousness at the negative end and hyperconsciousness at the positive end. The way the mind will lean under stress is strongly influenced by training.
        li Frank Herbert, Dune 

  section.cv-content-education.cv-content-sections
    header.cv-content-section-heading
      i.fa.fa-2x.fa-graduation-cap(aria-hidden='true')
      h3 Education
    div.cv-content-section-content
      ul
        li Speciality: Software engineering for automated systems
        li Place: Cherkasy State Technological University 
        li Location: Cherkasy, Ukraine
        li Years: 2004-2006
        li -----
        li Speciality: Developing and programming of the automated systems
        li Place: Smila Technical Secondary School of Food Technologies NUFT
        li Location: Smila, Cherkasy region, Ukraine
        li Years: 2000-2004
        

  section.cv-content-portfolio.cv-content-sections
    header.cv-content-section-heading
      i.fa.fa-2x.fa-picture-o(aria-hidden='true')
      h3 Portfolio
    div.cv-content-section-content
      ul.portfolio-grid
        li.animate
        li.animate
        li.animate
        li.animate
        li.animate
        li.animate

  section.cv-content-interests.cv-content-sections
    header.cv-content-section-heading
      i.fa.fa-2x.fa-meh-o(aria-hidden='true')
      h3 Interests
    div.cv-content-section-content
      ul.interests-list
        li Photography
          i.fa.fa-cog(aria-hidden='true')
        li Books
          i.fa.fa-cog(aria-hidden='true')
        li Music
          i.fa.fa-cog(aria-hidden='true')
        li Cooking
          i.fa.fa-cog(aria-hidden='true')
        li Skis
          i.fa.fa-cog(aria-hidden='true')
        li Running
          i.fa.fa-cog(aria-hidden='true')
