footer.site-footer
  img.main-logo(src='images/logo.svg', alt='ds')
  nav
    a(href='https://www.facebook.com/slipdem/')
      i.fa.fa-facebook(aria-hidden='true')
    a(href='https://twitter.com/slipdem')
      i.fa.fa-twitter(aria-hidden='true')
    a(href='https://www.instagram.com/slipdem/')
      i.fa.fa-instagram(aria-hidden='true')
    a(href='https://github.com/slipdem')
      i.fa.fa-github(aria-hidden='true')
    a(href='http://#')
      i.fa.fa-skype(aria-hidden='true')
    a(href='http://linkedin.net')
      i.fa.fa-linkedin(aria-hidden='true')
    a(href='mailto:dslipchenko@gmail.com')
      i.fa.fa-envelope-o(aria-hidden='true')
