header.site-header
  div.site-header-heading
    h1 Dmytro Slipchenko
    h3 Frontend Developer
  //- nav.site-nav
  //-   a(href='#') One
  //-   a(href='#') Two
  //-   img.main-logo(src='images/logo.svg', alt='logo')
  //-   a(href='#') Four
  //-   a(href='#') Five
  nav.functional-buttons
    a(href='#', title='Print CV')
      i.fa.fa-print(aria-hidden='true')
    a(href='#', title='Download CV in PDF')
      i.fa.fa-download(aria-hidden='true')
    a(href='#', title='Send CV by E-mail')
      i.fa.fa-envelope-o(aria-hidden='true')
    a(href='#', title='Change the Language')
      i.fa.fa-globe(aria-hidden='true')
