doctype html
html(lang='en')
	// HEAD
	include ../modules/_head.pug
	body
		// SITE HEADER
		include ../modules/_header.pug

		main.main-column
			// ASIDE
			include ../modules/_aside.pug
			// CONTENT
			include ../modules/_content.pug

		// FOOTER
		include ../modules/_footer.pug
