html {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #2c3e50;
	font-size: 16px;
	line-height: 2;
	height: 100%;
	width: 100%;
}

body * {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

html,
body,
div,
ul,
ol,
li,
p,
form,
main,
article,
section {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
	text-transform: uppercase;
	margin: 15px;
	letter-spacing: 1px;
}
h1::after,
h2::after {
	content: '';
	display: block;
	width: 3.5rem;
	height: 2px;
	background-color: #0e9c58;
	margin: 10px auto;
	margin-top: 5px;
}

p {
	margin-top: 20px;
	margin-bottom: 20px;
}

a,
a:visited,
a:hover {
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

li {
	list-style: none;
}
.main__bg {
	background: url(../img/bg-main.jpg) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}
.text__rigth {
	text-align: right;
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

@media screen and (max-width: 1020px) {
	.row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}

.card {
	float: left;
	border-radius: 3px;
	border: 1px solid #cccbcb;
	background-color: #fff;
	max-width: 420px;
	min-width: 280px;
	width: 100%;
	padding: 5px;
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin-right: 20px;
	margin-bottom: 20px;
}

.bg-linear__green {
	background-image: -webkit-gradient(linear, right bottom, left top, from(#0cd49c), to(#0E9C58));
	background-image: -webkit-linear-gradient(bottom right, #0cd49c 0%, #0E9C58 100%);
	background-image: -o-linear-gradient(bottom right, #0cd49c 0%, #0E9C58 100%);
	background-image: linear-gradient(to top left, #0cd49c 0%, #0E9C58 100%);
}

.bg__grey {
	background-color: #e7e7e7;
}

.btn {
	display: inline-block;
	background-color: #0E9C58;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	max-width: 250px;
	padding: 20px 40px;
	border-radius: 3px;
}

.btn:hover {
	background-color: #04723D;
	-webkit-box-shadow: 0 7px 20px -9px rgba(0, 0, 0, .62);
	        box-shadow: 0 7px 20px -9px rgba(0, 0, 0, .62);
}


/*
** HEADER
*/

.nav--main {
	max-height: 60px;
}

.nav--list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
}

.nav--list li {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
	height: 100%;
}

.nav--list a {
	display: inline-block;
	width: 100%;
	height: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #fff;
	text-transform: uppercase;
}

.nav--list a:hover {
	background-color: #0471a5;
}


/*
** CONTENT
*/

.card--img {
	margin: 0 auto;
	width: 100%;
	border-radius: 3px;
	overflow: hidden;
}

.card--img img {
	display: block;
	width: 100%;
	margin: 0 auto;
	height: auto;
}

.card--content .card--heading {
	text-align: center;
	margin-top: 10px;
}

.wrapper {
	background-color: rgba(255, 255, 255, 0.3);
	margin: 0 auto;
	padding-top: 250px;
}
.main-column {
	width: 100%;
	height: 100%;
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.content {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.main-column section {
	padding: 25px;
	border-bottom: 1px solid rgba(0,0,0,.15);
	background-color: #fff;
}

.main-column section h1 {
	font-size: 2.5rem;
}

.main-column section h2 {
	font-size: 1.5rem;
}

@media screen and (max-width: 570px) {
	.main-column section h1 {
		font-size: 2rem;
	}
}


/* 
** FOOTER
*/

.footer--main {
	background-color: #089de3;
	color: #fff;
}

.footer--main a {
	color: #fff;
}

.footer--main .nav--main {
	border-bottom: 1px solid #fff;
}

.footer--content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	text-align: center;
	color: #fff;
	padding: 20px;
}
.footer--content .footer--contacts {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

@media screen and (max-width: 890px) {
	.footer--content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}

.footer__logo {
	max-width: 150px;
}
.separate {
	padding: 50px 20px;
	text-align: center;
	background-color: #F6F8FB;
	border-bottom: 1px solid rgba(0,0,0,.15);
}
.separate p {
	max-width: 800px;
	margin: 20px auto;
	color: #3f3f3f;
}
.bg__cells {
	background: url(../img/fatcells.jpg) no-repeat center;
	background-size: cover; 
}
.separate--h2 {
	color: #fff;
}
.separate--h2::after {
	background-color: #fff;
}
/* 
** QUIZ
*/
.main-column .section--quiz {
	padding-bottom: 40px;
	background-color: #F6F8FB;
}
#quiz {
	margin: 0 auto;
	position: relative;
	min-height: 320px;
}
.quiz--row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

#quiz h1 {
	text-transform: uppercase;
	text-align: center;
}

#quiz button {
	margin-top: 10px;
	padding: 8px 15px;
	background: #089de3;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	outline: none;
	border: 0;
}

.quiz--row button+button {
	margin-left: 10px;
}

#quiz button:hover {
	background: #0471a5;
	color: #FFF;
}

#quiz button:disabled {
	opacity: 0.5;
	background: #089de3;
	color: #fff;
	cursor: default;
}
.quiz--welcome {
	background-color: #F6F8FB;
}
.welcome--img {
	max-width: 500px;
	margin: 0 auto;
	width: 100%;
}
.quiz--welcome p {
	max-width: 800px;
	margin: 20px auto;	
}
.quiz--welcome-img {
	display: block;
	width: 100%;
}
.quiz--welcome .button-welcome {
	display: block;
	margin: 0 auto;
	text-transform: uppercase;
	padding: 15px 75px !important;
	font-weight: 700;
}
#question {
	padding: 60px;
}
@media screen and (max-width: 795px) {
	#question {
		padding: 40px;
	}
}
@media screen and (max-width: 480px) {
	#question {
		padding: 20px;
	}
}
#question h2 {
	margin-bottom: 16px;
	font-size: 20px;
}

#question input[type=radio] {
	display: none;
}

#question label {
	display: inline-block;
	margin: 4px;
	padding: 8px;
	background: #FAE3BB;
	color: #4C3000;
	width: calc(50% - 8px);
	min-width: 100px;
	cursor: pointer;
}

@media screen and (max-width: 570px) {
	#quiz {
		margin: 0;
	}
	#question label {
		display: block;
		width: 100%;
		text-align: center;
		margin: 0;
		margin-bottom: 4px;
	}
}

#question label:hover {
	background: #EBBB67;
}

#question input[type=radio]:checked+label {
	background: #CB8306;
	color: #FAFAFA;
}

#quiz-results {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #F6F8FB;
	width: 100%;
	height: calc(100% - 44px);
}

#quiz-results-message {
	display: block;
	color: #00403C;
	font-size: 20px;
	font-weight: bold;
}

#quiz-results-score {
	display: block;
	color: #31706c;
	font-size: 20px;
}

#quiz-results-score b {
	color: #00403C;
	font-weight: 600;
	font-size: 20px;
}

.quiz-results--form {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 20px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.results-form--item {
	width: 100%;
	max-width: 400px;
	margin-bottom: 10px;
}

.results-form--item input,
.results-form--item label {
	display: block;
	width: 100%;
}

.results-form--item input {
	border: 2px solid #089de3;
	padding: 5px 10px;
}

.quiz-results--form input[type=submit] {
	padding: 10px 20px;
	background-color: #089de3;
	border: none;
	color: #fff;
}

.quiz-results--form input[type=submit]:hover {
	background-color: #0471a5;
}

.submit--items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.submit--text {
	display: none;
}
.opacity-zero {
	opacity: 0;
}
#quiz-name,
#question,
.quiz--row {
	display: none;
}