//
//  basic elements
//
html {
  font-size: 16px;
}

body, header, main, footer, section, div, nav, form, p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', 'Tahoma' sans-serif;
  padding: 0 50px;
  background: honeydew;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

fa {}

/*------------------------------------*\
    header
\*------------------------------------*/

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 2rem;
  background: lightblue;
  a + a {
    margin-left: 1.5rem;
  }
}

.site-nav {
  text-align: center;
  flex-grow: 2;
  text-transform: uppercase;
}

.main-logo {
  height: 50px;
  width: 50px;
}

.functional-buttons {
  align-self: flex-start;
}

.site-header nav {}

/*------------------------------------*\
    main
\*------------------------------------*/

section {
  background: darkcyan;
}

/*------------------------------------*\
    footer
\*------------------------------------*/

footer {
  background: darkolivegreen;
}
